:host {
  display: flex;
  >.title {
    width: 150px;
  }
  >.cc-list {
    >.username {
      margin-right: 5px;
    }
    >.edit-button {
      background-color: #f9f6f6;
      width: 30px;
      height: 30px;
      line-height: 28px;
      .material-icons {
        font-size: 20px;
      }
    }
  }
  >.cc {
    display: flex;
    align-items: center;
    font-size: 16px;
    min-height: 34px;
    background: white;
    border-radius: 5px;
    border: 1px solid #dedbdb;
    padding: 0px 8px;
  }
}
