<div class="file-header">
  <div><a routerLink="/diff/{{ diffId }}">Back</a></div>
  <div><span>{{filePath}}</span></div>
</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="split-code" *ngIf="!isLoading">
  <!-- Old code (left) -->
  <code-block
    [fileContent]="files[0]"
    [isNewCode]="false"
    [changes]="changes"
  ></code-block>

  <!-- New code (right) -->
  <code-block
    [fileContent]="files[1]"
    [isNewCode]="true"
    [changes]="changes"
    [threads]="threads"
  ></code-block>
</div>
