@import '../index';

.email-input {
  input {
    width: 300px;
    padding: 2px;
  }
  margin-bottom: 10px;
}

.error-message {
  margin-top: 12px;
  color: red;
  font-size: 15px;
  opacity: 0.85;
}
