<!-- Title -->
<div class="title">
  CC:
</div>

<!-- List with all users in CC list -->
<!-- It can't be edited -->
<div
  class="cc cc-list"
  (mouseenter)="isMouseHovered = true"
  (mouseleave)="isMouseHovered = false"
  *ngIf="!isEditing"
>
  <div class="username" *ngFor="let username of usernames">{{username}}</div>
  <button
    class="edit-button" 
    mat-icon-button
    (click)="createUsernameInput()"
    *ngIf="isMouseHovered"
  ><mat-icon>edit</mat-icon></button>
</div>

<!-- Input where user can edit CC -->
<div
  class="cc cc-input"
  (mouseenter)="isMouseHovered = true"
  (mouseleave)="isMouseHovered = false"
  *ngIf="isEditing"
>
  <mat-form-field fxFlex>
    <input
      matInput
      [(ngModel)]="usernameInput"
    >
  </mat-form-field>

  <button 
    mat-icon-button
    color="warn"
    (click)="closeEditing()"
  ><mat-icon>close</mat-icon></button>

  <button 
    mat-icon-button
    color="primary"
    (click)="saveCCInput()"
  ><mat-icon>done</mat-icon></button>
</div>
