@import '../../../../../styles/variables';

.review-title {
  font-size: 24px;
  font-weight: 500;
  background-color: #cdecff;
  padding: 5px $pagePadding;
  div {
    font-weight: 400;
  }
  .diffNumber {
    font-weight: 500;
  }
  .review-status {
    margin-left: 30px;

    span {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 500;
    }
    .mat-icon {
      height: 26px;
      width: 26px;
      font-size: 26px;
      margin-right: 10px;
    }
    .reviewNotStarted {
      color: #0016dd;
    }
    .needsMoreWork,
    .underReview,
    .accepted {
      height: 26px; 
      min-width: 26px;
      border-radius: 13px;
      margin-right: 10px;
      background-color: #c9f506;
      .mat-icon {
        display: flex; 
        align-self: center;
        margin: 0 auto;
        color: #fff;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }
    .accepted {
      background-color: #02ca23;
    }
    .submitted {
      color: #a2a2a2;
    }
    .reverted {
      color: #ea3d3d;
    }
  }
  .action-buttons {
    .submit button {
      background-color: #86d1ff;
    }
    .reply button {
      background-color: #ffc84b;
    }
  }
}
