@import '../../../../../styles/variables';

.review-title {
  font-size: 24px;
  font-weight: 500;
  background-color: #cdecff;
  padding: 5px $pagePadding;
  div {
    font-weight: 400;
  }
  .diffNumber {
    font-weight: 500;
  }
  .review-status {
    margin-left: 30px;

    span {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 500;
    }
    .mat-icon {
      height: 26px;
      width: 26px;
      font-size: 26px;
      margin-right: 10px;
    }
    .reviewNotStarted {
      color: #0016dd;
    }
    .needsMoreWork,
    .underReview,
    .accepted {
      height: 26px; 
      min-width: 26px;
      border-radius: 13px;
      margin-right: 10px;
      background-color: #c9f506;
      .mat-icon {
        display: flex; 
        align-self: center;
        margin: 0 auto;
        color: #fff;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }
    .accepted {
      background-color: #02ca23;
    }
    .submitted {
      color: #a2a2a2;
    }
    .reverted {
      color: #ea3d3d;
    }
  }
  .action-buttons {
    .submit button {
      background-color: #86d1ff;
    }
    .reply {
      margin-right: 0px !important;
      button {
        background-color: #ffc84b;
      }
    }
  }

  .reply-popup {
    position: absolute;
    border: 1px solid #777777;
    text-decoration: none;
    margin-top: 260px;
    height: 250px;
    width: 45vw;
    background-color: #fff6e1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  .reply-popup:before {
    content: '';
    display: block;  
    position: absolute;
    right: 30px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
  }
  
  .reply-popup:after {
    content: '';
    display: block;  
    position: absolute;
    right: 31px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: #fff6e1;
  }
}
