<div class="review-title" fxFlex *ngIf="!isLoading">
  <div fxFlex="270px">
    <span class="diffNumber"> Diff {{ diff.getId() }} </span>
    by
    <span
      [ngClass]="{ 
        'author-name': true,
        'bold-text': diff.getAuthor().getNeedsattention()
      }"
    ><button mat-raised-button 
        class="add-to-list"
        *ngIf="editable"
        (click)="changeAttentionOfAuthor()"
      >
        {{ 
          diff.getAuthor().getNeedsattention() ?
            'Attention not needed':
            'Ask for attention'
        }}
      </button>
      {{ authService.getUsername(diff.getAuthor().getEmail()) }}
    </span>
  </div>

  <div class="review-status" fxFlex="100%">
    <span>
      <span [ngClass]="statusList[diff.getStatus()].spanClass">
        <mat-icon [ngClass]="statusList[diff.getStatus()].iconClass">
          {{ statusList[diff.getStatus()].icon }}
        </mat-icon>
      </span>
      {{ statusList[diff.getStatus()].label }}
    </span>
  </div>

  <div class="action-buttons" 
    fxLayout="row"
    fxLayoutGap="20px"
    fxFlex="212px"
    fxLayoutAlign="end end">
    <!-- TODO: add some action for the buttons -->
    <div class="submit">
      <button>Submit</button>
    </div>
    <div class="reply">
      <button>Reply</button>
    </div>
  </div>
</div>
