$border-color: #8d8d8d;
$hr-color: #cccccc;
$border-radius: 7px;
$top-radius: #{$border-radius} #{$border-radius} 0px 0px;
$bottom-radius: 0px 0px #{$border-radius} #{$border-radius};

.thread {
  border-radius: $border-radius;
  margin-bottom: 15px;
  max-width: 1400px;
  border: 1px solid $border-color;
  >.comment {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid $hr-color;
    >.header {
      width: 140px;
      >.username {
        span {
          font-weight: bold;
        }
      }
      >.time {
        margin-top: 5px;
        opacity: 0.7;
        font-size: 13px;
      }
    }
    >.message {
      span {
        word-wrap: break-word;
      }
    }
    >.buttons {
      user-select: none;
      position: relative;
      width: 35px;
      .mat-icon {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: -5px;
      }
    }
  }
  >.reply {
    min-height: 52px;
    >.header {
      display: flex;
      align-items: flex-end;
    }
    >.message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      textarea {
        resize: none;
        width: calc(100% - 6px);
        padding: 5px 2px;
        font-size: 14px;
        background: white;
        vertical-align: bottom;
        border-radius: 0;
        margin-bottom: 10px;
      }
      >.action-panel {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >.resolve {
          user-select: none;
        }
        >.buttons {
          button {
            margin-left: 19px;
          }
          .resolve-status {
            font-size: 14px;
            font-weight: 600;
            color: #24678f;
          }
        }
      }
    }
    .reply-button {
      background: #86d1ff;
    }
    .cancel-button {
      background: #bfbfbf;
    }
  }
}
.thread :first-child {
  border-radius: $top-radius;
}
.thread :last-child {
  border-radius: $bottom-radius;
  border: none;
}
.resolved-comment {
  background: #f2faff;
}
.unresolved-comment {
  background: #d6f0ff;
}
