<div 
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayout.xs="column"
  fxLayoutGap.xs="10px"
  class="reviewers">
  <div fxFlex="150px" fxFlex.xs="" 
    fxLayoutAlign="start center" 
    class="property">
    Reviewers:
  </div>
  <div fxFlex class="detail">
    
    <!-- BUG: more than 10 reviewers break the template -->
    <ng-container>
      <div
        class="reviewer-detail"
        *ngIf="!isEditing"
        fxLayoutAlign="start center">
        <!-- Print out list if length is more than zero -->
        <span
          *ngFor="let reviewer of diff.getReviewerList(); let last = last"
          [ngClass]="{ 
            'bold-text': reviewer.getNeedsattention(),
            'reviewer-name': true
            }"
          >
          <button mat-raised-button 
            class="add-to-list"
            *ngIf="editable"
            (click)="changeAttentionOfReviewer(reviewer);
            $event.stopPropagation()"
            >
            {{
              reviewer.getNeedsattention() ?
                'Attention not needed':
                'Ask for attention'
            }}
          </button>
          {{ authService.getUsername(reviewer.getEmail()) }}
        </span>
        <!-- If no persons are present -->
        <button
          class="edit-button" 
          mat-icon-button
          (click)="isEditing = true"
          *ngIf="editable"
          >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div 
        class="editableInput"
        *ngIf="isEditing">
        <mat-form-field fxFlex>
          <input
            matInput
            [(ngModel)]="usernames"
          >
        </mat-form-field>
        <div
          class="actions"
          fxLayoutAlign="end center"
          fxLayoutGap="10px"
          >
          <span class="input cancel">
            <button 
              mat-icon-button
              color="warn"
              (click)="isEditing = false; getReviewerEmails()"
              >
              <mat-icon>close</mat-icon>
            </button>
          </span>
          <span class="input save">
            <button 
              mat-icon-button 
              color="primary"
              (click)="isEditing = false; saveReviewers()"
            >
              <mat-icon>done</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
