$border: 2px;

.commit-menu {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  user-drag: none;
  >.bridge {
    position: absolute;
    background: #ffc84b;
    height: 5px;
    pointer-events: none;
    z-index: 6;
  }
  >.popup-hover-zone {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    user-drag: none;
    z-index: 5;
    >.dots {
      display: flex;
      >.dot {
        $size: 14px;
        height: $size;
        width: $size;
        background: white;
        margin-right: 13px;
        border-radius: 50%;
        border: $border solid #8d8d8d;
      }
      >.dot:first-child {
        border-radius: 0;
      }
      >.dot:last-child {
        margin: 0;
      }
      >.uncommited {
        border: $border solid #1545BD;
      }
      >.selected {
        background: #ffc84b;
      }
    }
    
    >drag-element {
      position: absolute;
      margin-left: $border;
      z-index: 20;
    }
    >.selected {
      opacity: 0;
    }
    >commit-popup {
      user-select: text;
    }
  }
}
