:host {
  >.diff-groups {
    >.diff-group {
      >.diff-group-title {
        >span {
          font-size: 20px;
        }
        >.group-name {
          font-weight: bold;
        }
      }
      >.diff-list {
        >.mat-row {
          cursor: pointer;
        }
        .mat-column-id {
          flex: 0 0 120px;
        }
        .mat-column-author {
          flex: 0 0 250px;
        }
        .mat-column-status {
          flex: 0 0 250px;
        }
        .mat-column-action {
          flex: 0 0 250px;
        }
      }
      >.placeholder {
        height: 14px;
      }
    }
  }
}
