<div
  class="comment"
  [ngClass]="{
    'resolved-comment': thread.getIsDone(),
    'unresolved-comment': !thread.getIsDone(),
    'edit-comment': isCommentEditingMap[commentIndex]
  }"
  *ngFor="let comment of thread.getCommentList(); let commentIndex = index;"
>
  <div class="header" (click)="openComment(commentIndex)">
    <!-- Username and date of the comment -->
    <div class="username ellipsis">
      <span>{{ getUsername(comment) }}</span>
    </div>
    <div class="time" *ngIf="isCommentOpenMap[commentIndex] || isCommentEditingMap[commentIndex]">
      <span>{{ comment.getTimestamp() | date:'h:mm a, MMM d' }}</span>
    </div>
  </div>
  <div class="content">
    <div class="read-mode" *ngIf="!isCommentEditingMap[commentIndex]">
      <!-- Text of the comment -->
      <div
        class="message"
        [ngClass]="{
          'ellipsis': !isCommentOpenMap[commentIndex]
        }"
        (click)="openComment(commentIndex)"
        fxFlex
      >
        <span>{{ comment.getContent() }}</span>
        <span class="edited" *ngIf="isCommentOpenMap[commentIndex] && isModified(commentIndex)">
          (Edited)
        </span>
      </div>
      <!-- Buttons to delete/edit the comment -->
      <comment-menu
        [isMenuVisible]="isMenuVisibleMap[commentIndex]"
        (editEmitter)="editComment(commentIndex)"
        (deleteEmitter)="deleteComment(commentIndex)"
        (toggleEmitter)="saveMenuState(commentIndex, $event)"
      ></comment-menu>
    </div>
    <thread-edit-comment
      *ngIf="isCommentEditingMap[commentIndex]"
      [diff]="diff"
      [thread]="thread"
      [comment]="comment"
      [commentIndex]="commentIndex"
      (closeEmitter)="closeEditing(commentIndex)"
    ></thread-edit-comment>
  </div>
</div>
