<button
  class="dashboard-button"
  mat-button
  *ngIf="selectDashboardService.isDashboardInit()"
  (click)="show()"
>
  <span>dashboard: </span>
  <span class="bold">{{ userService.getUsername(selectDashboardService.selectedEmail) }}</span>
</button>
<ng-container *ngIf="isVisible">
  <div class="dashboards">
    <speech-arrow
      [size]=15
      [border]=2
      color="white"
      bordercolor="#8c8c8c"
      [shadow]=[2,2,2,0.8]
    ></speech-arrow>
    <div class="user" *ngFor="let email of selectDashboardService.uniqueUsers">
      <button mat-button (click)="openDashboard(email)">
        {{ userService.getUsername(email) }}
      </button>
    </div>
  </div>
  <div class="popup-overlay" (click)="hide()"></div>
</ng-container>
