.google {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gbutton {
  cursor: pointer;
  display: none;
}
button {
  padding: 5px 10px;
}
.chrome {
  display: none;
  font-family: Arial;
  font-size: 18px;
  color: #7e7e7e;
  margin-top: 10px;
}
