$comments-padding: 20px;
$comment-padding: 4px;
$border: #CCC solid 1px;

.comments {
  padding: $comments-padding;
  >.resolve {
    margin-bottom: 10px;
    padding-left: calc(2 * #{$comment-padding});
    direction: rtl;
  }
  >.comment {
    position: relative;
    background: white;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 2px;
    margin-bottom: 5px;
    padding: $comment-padding;
    >.username {
      >span {
        font-weight: bold;
      }
    }
    span {
      font-size: 14px;
    }
    >.delete-button {
      position: absolute;
      top: 0;
      right: 0;
      >button {
        margin: 0;
      }
      mat-icon {
        color: #777;
      }
    }
  }
}
.new-comment {
  padding-left: $comments-padding;
  padding-right: $comments-padding;
  padding-bottom: $comments-padding;
  button {
    margin-top: 10px;
  }
  textarea {
    resize: none;
    padding: $comment-padding;
    background: white;
    vertical-align: bottom;
    font-size: 15px;
  }
}
.comment-block {
  width: 90%;
  min-width: 400px;
  max-width: 900px;
}
