<div class="thread">
  <!-- Comment List -->
  <div class="comments" *ngIf="thread.getCommentList().length > 0">
    <div class="comment-block resolve">
      <button mat-raised-button (click)="toggleThread()">{{
        thread.getIsDone() ? 'Unresolve' : 'Resolve'
      }}</button>
    </div>

    <div
      class="comment-block comment"
      *ngFor="let comment of thread.getCommentList(); let i = index"
    >
      <div class="username">
        <span>{{ authService.getUsername(comment.getCreatedBy()) }}</span>
      </div>
      <div class="message">
        <span>{{comment.getContent()}}</span>
      </div>
      <div class="delete-button">
        <button
          mat-icon-button
          (click)="deleteComment(i)"
        ><mat-icon>delete_forever</mat-icon></button>
      </div>
    </div>
  </div>

  <!-- Add new comment -->
  <div class="new-comment" *ngIf="!thread.getIsDone()">
    <textarea
      class="comment-block text"
      matInput
      matTextareaAutosize
      matAutosizeMinRows="2"
      placeholder="Leave a comment"
      [formControl]="textareaControl"
    ></textarea>
    <div class="buttons">
      <button
        mat-raised-button
        (click)="addComment()"
      >Comment</button>
      <button
        mat-raised-button
        (click)="closeThread()"
        *ngIf="!thread.getCommentList().length"
      >Close</button>
    </div>
  </div>
</div>
