<h2>Listr</h2>
<app-brick-1></app-brick-1>
<app-brick-2></app-brick-2>
<app-brick-3></app-brick-3>
<app-brick-4></app-brick-4>
<app-brick-5></app-brick-5>
<app-brick-6></app-brick-6>
<app-brick-7></app-brick-7>
<app-brick-8></app-brick-8>
<app-brick-9></app-brick-9>
<app-brick-10></app-brick-10>
<app-brick-11></app-brick-11>
<app-brick-12></app-brick-12>
<app-brick-13></app-brick-13>
<app-brick-14></app-brick-14>
<app-brick-15></app-brick-15>
<app-brick-16></app-brick-16>
<app-brick-17></app-brick-17>
<app-brick-18></app-brick-18>
<app-brick-19></app-brick-19>
<app-brick-20></app-brick-20>
