.mat-card:before {
  content: '';
  display: block;  
  position: absolute;
  right: 40px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-width: 0 7.5px 15px 7.5px;
  border-style: solid;
  border-color:
    transparent
    transparent
    #{$popup-border-color}
    transparent;
}
.mat-card:after {
  content: '';
  display: block;  
  position: absolute;
  right: 41px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-width: 0 6.5px 13px 6.5px;
  border-style: solid;
  border-color:
    transparent
    transparent
    #{$popup-background-color}
    transparent;
}
