.loginpage {
  background-color: #bcdff9;
  display: flex;
  flex-flow: column;
  height: 100%;
  .loginbox {
    background-color: #fff;
    margin: 200px auto;
    border-radius: 10px;
    padding: 55px;

    img,
    h2,
    h3,
    button {
      margin: 0px auto;
      text-align: center;
      display: block;
      font-family: sans-serif;
    }

    h2 {
      color: #1668b9;
      font-size: 33px;
      margin-top: 5px;
    }

    h3 {
      color: #73c0fb;
      font-size: 17px;
      margin-top: 5px;
    }

    button {
      background-color: #1668b9;
      margin-top: 33px;
      color: #fff;
      font-size: 17px;
      border-radius: 5px;
      padding: 8px 22px;
      border: 0px;
      cursor: pointer;
      outline: none;
    }
  }
}
