html,
body {
  color: #2a2a2a;
  height: 100%;
  margin: 0px;
  font-family: $default-font;

  .mat-table {
    font-family: $default-font;
  }

  textarea {
    font-family: $default-font;
    border: solid 1px $palette-2;
  }

  .bold {
    font-weight: 600;
  }
  .approved {
    color: #0d912c;
  }

  .cr-titlebar {
    height: 40px;
    background: $palette-1;
    border: none;
    padding: 0 23px;
    display: flex;
    align-items: center;
    >.title {
      >span {
        font-size: 16px;
      }
    }
    >.buttons {
      user-select: none;
      direction: rtl;
      padding-bottom: 2px;
      >button {
        margin-left: 10px;
      }
    }
  }

  .cr-table-placeholder {
    height: 42px;
    padding: 0 23px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #5d5d5d;
  }

  .mat-header-row {
    min-height: 32px;
  }
  
  .mat-checkbox {
    font-family: $default-font;
    .mat-checkbox-frame,
    .mat-checkbox-background {
      transform: scale(.9);
    }
    .mat-checkbox-frame {
      background: white;
      border-width: 1px;
    }
  }

  .mat-header-cell,
  .cr-header {
    background: $palette-3;
    font-size: 14px;
  }

  .cr-header {
    border: 1px solid $palette-2;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
html {
  overflow-y: scroll;
}
