html,
body {
  color: #2a2a2a;
  height: 100%;
  margin: 0px;
  font-family: $default-font;
}

textarea {
  font-family: $default-font !important;
  border: solid 1px $palette-2 !important;
}

.bold {
  font-weight: 600;
}

.cr-titlebar {
  height: 46px;
  background: $palette-1;
  border-bottom: solid 1px $palette-2;
  padding: 0 23px;
  display: flex;
  align-items: center;
  >.title {
    >span {
      font-size: 16px;
    }
  }
  >.buttons {
    user-select: none;
    direction: rtl;
    padding-bottom: 2px;
    >button {
      margin-left: 10px;
    }
  }
}

.mat-header-cell,
.cr-header {
  background: $palette-3;
  font-size: 14px !important;
}

.cr-light-button {
  height: 30px;
  width: 100px;
  line-height: 0 !important;
  border-radius: 5px !important;
  >span {
    font-size: 15px;
    font-family: $default-font;
  }
}

.cr-thread-button {
  width: 97px;
  height: 26px;
  line-height: 0 !important;
  border-radius: 8px !important;
  border: solid 1px #8d8d8d !important;
  font-size: 14px;
  font-weight: 600;
  font-family: $default-font;
  cursor: pointer;
  outline: none;
}
