.loading {
  margin-top: 25vh;
}
.mat-list.diff-list {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  .header-row {
    color: #9c9c9c;
    font-size: smaller;
  }
  .mat-list-item {
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
    &.last-item {
      border-bottom: none;
    }
  }
  .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
