<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="column" fxLayoutGap="5%" *ngIf="!isLoading">
  <!-- Container for each list -->
  <ng-container *ngFor="let list of diffGroups; let listIndex = index;">
    <div fxFlex>
      <mat-list class="diff-list">
        <!-- Select list title based on the index of list -->
        <ng-container [ngSwitch]="listIndex">
          <h3 mat-subheader *ngSwitchCase="0">
            Need Attention - {{ diffGroups[0].length }}
          </h3>
          <h3 mat-subheader *ngSwitchCase="1">
            CC'ed on - {{ diffGroups[1].length }}
          </h3>
          <h3 mat-subheader *ngSwitchCase="2">
            Draft Reviews - {{ diffGroups[2].length }}
          </h3>
          <h3 mat-subheader *ngSwitchCase="3">
            Submitted Reviews - {{ diffGroups[3].length }}
          </h3>
        </ng-container>
        <mat-list-item class="header-row">
          <div fxFlex="7%">Diff id</div>
          <div fxFlex="10%">Author</div>
          <div fxFlex="18%">Status</div>
          <div fxFlex="20%">Last Action</div>
          <div fxFlex="20%">Reviewers</div>
          <div fxFlex="25%">Description</div>
        </mat-list-item>
        <!-- Iterate over each item in a list and print it out -->
        <mat-list-item
          *ngFor="let diff of list; let i = index; let last = last"
          (click)="diffClicked(diff.id)"
          [class.last-item]="last">
          <div fxFlex="7%">{{ diff.id }}</div>
          <div fxFlex="10%">
            {{ authService.getUsername(diff.author.email) }}
          </div>
          <div fxFlex="18%">
            <ng-container [ngSwitch]="diff.status">
              <span *ngSwitchCase="'0'">Review Not Started</span>
              <span *ngSwitchCase="'1'">Needs More Work</span>
              <span *ngSwitchCase="2">Under Review</span>
              <span *ngSwitchCase="'3'">Accepted</span>
              <span *ngSwitchCase="'4'">Submitted</span>
              <span *ngSwitchCase="5">Reverted</span>
            </ng-container>
          </div>
          <div fxFlex="20%">
            {{ diff.modifiedTimestamp | date: 'mediumDate' }}
          </div>
          <div fxFlex="20%">
            <!-- Print out reviewer's list -->
            <a>
              {{ getUsernames(diff.reviewerList) }}
            </a>
            <!-- If no reviewers are present -->
            <ng-container *ngIf="diff.reviewerList.length === 0">
              <span>
                Not available
              </span>
            </ng-container>
          </div>
          <!-- If description doesn't exist print out 'Not Available' -->
          <div class="description" fxFlex="25%">
            {{ diff.description ? diff.description : 'Not available' }}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</div>
