<mat-toolbar>
  <mat-toolbar-row>
    <div fxFlex="10%" fxLayoutAlign="center">
      <img src="./assets/icon.png" height="44" width="44">
    </div>
    <div>
      <span class="title">Reviewer</span>
    </div>
    <div fxFlex="1 1" class="search">
      <input type="text">
    </div>
    <div>
      <button mat-icon-button class="search-button">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="action">
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutGap="5%">
  <!-- Container for each list -->
  <ng-container *ngFor="let list of diffs;let listIndex = index;">
    <div fxFlex>
      <mat-list class="diff-list">
        <!-- Select list title based on the index of list -->
        <ng-container [ngSwitch]="listIndex">
          <h3 mat-subheader *ngSwitchCase="0">Need Attention - {{ diffs[0].length }}</h3>
          <h3 mat-subheader *ngSwitchCase="1">CC'ed on - {{ diffs[1].length }}</h3>
          <h3 mat-subheader *ngSwitchCase="2">Draft Reviews - {{ diffs[2].length }}</h3>
          <h3 mat-subheader *ngSwitchCase="3">Submitted Reviews - {{ diffs[3].length }}</h3>
        </ng-container>
        <mat-list-item class="header-row">
          <div fxFlex="7%">Diff</div>
          <div fxFlex="10%">Author</div>
          <div fxFlex="18%">Status</div>
          <div fxFlex="20%">Last Action</div>
          <div fxFlex="20%">Reviewers</div>
          <div fxFlex="25%">Description</div>
        </mat-list-item>
        <!-- Iterate over each item in a list and print it out -->
        <mat-list-item *ngFor="let diff of list; let i = index; let last = last"
          (click)="diffClicked(diff.number)"
          [class.last-item]="last">
          <div fxFlex="7%">{{ diff.number }}</div>
          <div fxFlex="10%">{{ diff.author ? diff.author : 'Not available' }}</div>
          <div fxFlex="18%">
            <ng-container [ngSwitch]="diff.status">
              <span *ngSwitchCase="'0'">Review Not Started</span>
              <span *ngSwitchCase="'1'">Needs More Work</span>
              <span *ngSwitchCase="2">Under Review</span>
              <span *ngSwitchCase="'3'">Accepted</span>
              <span *ngSwitchCase="'4'">Submitted</span>
              <span *ngSwitchCase="5">Reverted</span>
            </ng-container>
          </div>
          <div fxFlex="20%">{{ diff.modifiedTimestamp | date: 'mediumDate' }}</div>
          <div fxFlex="20%">
            <!-- Print out reviewer's list if length is more than zero -->
            <ng-container *ngIf="diff.reviewers.length === 1">
              <a>
                {{ diff.reviewers[0] }}
              </a>
            </ng-container>
            <ng-container *ngIf="diff.reviewers.length > 1">
              <a *ngFor="let reviewer of diff.reviewers; let last = last">
                {{ last ? reviewer : reviewer + ',' }}
              </a>
            </ng-container>
            <!-- If no reviewers are present -->
            <ng-container *ngIf="diff.reviewers.length === 0">
              <span>
                Not available
              </span>
            </ng-container>
          </div>
          <!-- If description doesn't exist print out 'Not Available' -->
          <div fxFlex="25%">{{ diff.description ? diff.description : 'Not available' }}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</div>
