.left-file {
  background: #ffeef0;
}
.right-file {
  background: #e6ffed;
}
.placeholder {
  background: #eaecef;
}
.comments {
  background: #f1f8ff;
}
.code-line {
  background: none;
}
pre {
  margin: 0;
}
