<table cellpadding="0" cellspacing="0" border="0">
  <!-- Code lines -->
  <tr *ngFor="let changesLine of changesLines; let lineIndex = index">
    <!-- left and right block lines -->
    <ng-container
      *ngFor="let blockLine of changesLine.blocks; let blockIndex = index"
    >
      <!-- Line number -->
      <td class="line-number" valign="top">
        <span *ngIf="!blockLine.isPlaceholder">
          {{ blockLine.lineNumber }}
        </span>
      </td>

      <td
        class="content"
        [ngClass]="[templateService.getLineBackground(
          changesLine,
          blockIndex,
          blockLine
        )]"
        (mousedown)="clickIndex = blockIndex"
        valign="top"
      >
        <!-- "Add comment" button -->
        <div
          class="add-comment-button"
          *ngIf="!blockLine.isPlaceholder"
        >
          <div
            class="icon-button"
            (click)="commentsService.addEmptyThread(changesLine, blockIndex)"
          >
            <img src="/assets/ic-add-comment.svg">
          </div>
        </div>

        <!-- Chars changes highlighting -->
        <div
          class="code-line chars-highlighting"
          *ngIf="blockLine.isChanged"
        >
          <pre
            [HTML]="blockLine.wordChanges"
          ></pre>
        </div>

        <!-- Code -->
        <div
          class="code-line code"
          *ngIf="!changesLine.isCommentsLine && !blockLine.isPlaceholder"
          [ngClass]="{ selectable: clickIndex === blockIndex }"
          (dblclick)="commentsService.addEmptyThread(changesLine, blockIndex)"
        >
          <pre [HTML]="blockLine.code"></pre>
        </div>

        <!-- Comments -->
        <div
          class="threads"
          *ngIf="changesLine.isCommentsLine && !templateService.isEmpty(blockLine)"
        >
          <div
            class="thread"
            *ngFor="let thread of blockLine.threads; let threadIndex = index"
          >
            <cr-thread
              [diff]="stateService.diff"
              [thread]="thread"
              (closeEmitter)="commentsService.closeThread(blockLine, threadIndex, blockIndex)"
              (addEmitter)="addThread(
                $event,
                blockLine,
                blockIndex,
                lineIndex,
                thread
              )"
            ></cr-thread>
          </div>
        </div>
      </td>
    </ng-container>
  </tr>
</table>
