<div
  class="comment reply"
  [ngClass]="{
    'resolved-comment': thread.getIsDone(),
    'unresolved-comment': !thread.getIsDone(),
    'edit-comment': isReply
  }"
>
  <!-- Line number -->
  <div class="header">
    <div class="line-number" *ngIf="isCodeThread()">
      <span>Line {{ thread.getLineNumber() }}</span>
    </div>
  </div>
  <!-- Message and buttons -->
  <div class="message" fxFlex>
    <!-- Textarea for new comment -->
    <textarea
      *ngIf="isReply"
      matInput
      matTextareaAutosize
      matAutosizeMinRows="2"
      [formControl]="textarea"
    ></textarea>
    <!-- Buttons -->
    <div class="action-panel">
      <div class="resolve-checkbox" fxFlex>
        <!-- Resolve checkbox -->
        <mat-checkbox
          color="primary"
          [formControl]="resolvedCheckbox"
          *ngIf="isReply"
        >Resolved</mat-checkbox>
      </div>
      <div class="comment-buttons" *ngIf="!isReply">
        <!-- Button to open reply -->
        <span class="resolve-status" *ngIf="!isReply && !thread.getIsDone()">
          Unresolved
        </span>
        <button
          mat-button
          class="cr-thread-button sky-button"
         (click)="toggleReply()"
        >Reply</button>
      </div>
      <div class="comment-buttons" *ngIf="isReply">
        <!-- Button to close reply -->
        <button
          mat-button
          class="cr-thread-button grey-button"
          (click)="toggleReply()"
        >Cancel</button>
        <!-- Button to add a comment -->
        <button
          mat-button
          class="cr-thread-button sea-button"
          (click)="addComment()"
        >Reply</button>
      </div>
    </div>
  </div>
</div>
