// All used colors

$palette-1: red;
$palette-2: black;
$palette-3: white;
$palette-4: #8d8d8d;
$palette-5: #8c8c8c;
$palette-6: #808080;
$palette-7: #1545bd;
$palette-8: #1a1a1a;
$palette-9: #d8d8d8;
$palette-10: #f3f3f3;
$palette-11: #979797;
$palette-12: #ff7300;
$palette-13: #12a736;
$palette-14: #db4040;
$palette-15: #ecf8ff;
$palette-16: #b5b5b5;
$palette-17: #fff4db;
$palette-18: #777777;
$palette-19: #434343;
$palette-20: #ffc84b;
$palette-21: #232323;
$palette-22: #c1c1c1;
$palette-23: #5d5d5d;
$palette-24: #212121;
$palette-25: #c4c4c4;
$palette-26: #858585;
$palette-27: #1668b9;
$palette-28: #f7faff;
$palette-29: #ffeef0;
$palette-30: #e6ffed;
$palette-31: #ebebeb;
$palette-32: #d7efff;
$palette-33: #cccccc;
$palette-34: #f2faff;
$palette-35: #d6f0ff;
$palette-36: #86d1ff;
$palette-37: #d6d6d6;
$palette-38: #24678f;
$palette-39: #4898fd;
$palette-40: #41668b;
$palette-41: #0d912c;
$palette-42: #2a2a2a;
$palette-43: #d1d1d1;
$palette-44: #6daeff;
$palette-45: #1daaff;
$palette-46: #ffc75a;
$palette-47: #fc7273;
$palette-48: #cdecff;
$palette-49: #37d437;
$palette-50: #9da1f1;
$palette-51: #ffc944;
$palette-52: #e83636;
