@import '../index';

:host {
  position: relative;
  >.user-popup {
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    z-index: 1;
    >.user-email {
      color: #777;
      font-size: 15px;
      white-space: nowrap;
    }
    >.mat-button {
      width: 100%;
      font-size: 14px;
      color: #434343;
      margin-top: 16px;
    }
  }
}
