:host {
  position: relative;
  >.frame {
    position: absolute;
    $left: 22px;
    left: -$left;
    >.user-popup {
      $speech-arrow: 15px;
      margin-top: $speech-arrow;
      position: relative;
      display: flex;
      box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
      background: white;
      border: solid 2px #8c8c8c;
      border-radius: 8px;
      padding: 18px 25px;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      >.user-email {
        color: #777;
        font-size: 15px;
        white-space: nowrap;
      }
      >.mat-button {
        width: 100%;
        font-size: 14px;
        color: #434343;
        margin-top: 16px;
      }
      >speech-arrow {
        line-height: $speech-arrow;
        top: -$speech-arrow;
        left: $left;
        position: absolute;
      }
    }
  }
}
