<ng-content></ng-content>
<mat-card class="user-popup" *ngIf="isHovered">
  <span class="user-email">{{ email }}</span>
  <button
    class="cr-light-button ivory-button"
    mat-button
    *ngIf="isChangeAttention"
    (click)="changeAttention()"
  >
    {{ isAttentionRequired? 'Attention not needed' : 'Ask for attention' }}
  </button>
  <button
    class="cr-light-button ivory-button"
    mat-button
    *ngIf="isRemoveFromList"
    (click)="removeFromList()"
  >
    Remove
  </button>
</mat-card>
