<div class="reply-form" fxLayout="column">
  <div class="reply-title">Reply</div>
  <textarea 
    [(ngModel)]="propertyValue">
  </textarea>
  <div class="action-required">
    <input type="checkbox" [(ngModel)]="actionRequired" value="Action Required"> 
    <span (click)="actionRequired = !actionRequired"> Action Required </span>
  </div>
  <div class="reply-actions" fxLayout="row" fxLayoutAlign="end center">
    <div>
      <input type="checkbox"  [(ngModel)]="approved" value="Action Required"> Approved
    </div>
    <button (click)="reply()">Reply</button>
  </div>
</div>
