<div class="reply-form" fxLayout="column">
  <div class="reply-title">Reply</div>
  <textarea 
    [(ngModel)]="propertyValue">
  </textarea>
  <div class="action-required">
    <!-- TODO functionality for Action Required checkbox -->
    <input 
      type="checkbox" 
      value="Action Required"> 
    <span> 
      Action Required 
    </span>
  </div>
  <div 
    class="reply-actions" 
    fxLayout="row" 
    fxLayoutAlign="end center">
    <!-- Hide Approved checkbox when Author is the current user -->
    <div 
      *ngIf="authService.userEmail != diff.getAuthor().getEmail()">
      <input 
        type="checkbox" 
        [(ngModel)]="approved" 
        value="Action Required">
        <span
          (click)="approved = !approved">
          Approved
        </span>
    </div>
    <button (click)="reply()">Reply</button>
  </div>
</div>
