<div class="file-header" *ngIf="!isLoading">
  <div><a routerLink="/diff/{{ diff.getId() }}">Back</a></div>
  <div><span>{{filePath}}</span></div>
</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="split-code" *ngIf="!isLoading">
  <!-- Old code (left) -->
  <code-block
    [fileContent]="textDiffResponse.getLeftFileContents()"
    [isNewCode]="false"
    [changes]="changes"
    [language]="fileChangesService.getLanguage(file.getFilename())"
  ></code-block>

  <!-- New code (right) -->
  <code-block
    [fileContent]="textDiffResponse.getRightFileContents()"
    [isNewCode]="true"
    [changes]="changes"
    [threads]="localThreads"
    [language]="fileChangesService.getLanguage(file.getFilename())"
  ></code-block>
</div>
