<div id="line-comments" #commentsRef>
  <!-- User comments -->
  <div class="comments" *ngIf="comments.length">
    <div class="comment" *ngFor="let comment of comments">
      <div class="username text">
        {{ authService.getUsername(comment.getCreatedBy()) }}
      </div>
      <pre class="message text">{{comment.getContent()}}</pre>
    </div>
  </div>

  <!-- New comment -->
  <textarea class="text" placeholder="Leave a comment" #textareaRef
    [formControl]="textareaControl"
  ></textarea>
  <div class="buttons">
    <button mat-raised-button (click)="addComment()">Comment</button>
    <button mat-raised-button
      (click)="closeComments()"
      *ngIf="!comments.length"
    >Close</button>
  </div>
</div>
