<div id="line-comments" #commentsRef>
  <!-- User comments -->
  <div class="comments" *ngIf="comments.length">
    <div class="comment" *ngFor="let comment of comments">
      <div class="username text">{{comment.createdBy}}</div>
      <pre class="message text">{{comment.content}}</pre>
    </div>
  </div>

  <!-- New comment -->
  <textarea class="text" placeholder="Leave a comment" #textareaRef
    [formControl]="textareaControl"
  ></textarea>
  <button mat-raised-button (click)="addComment()">Comment</button>
  <button mat-raised-button
    (click)="closeComments()"
    *ngIf="!comments.length"
  >Close</button>
</div>
