.cr-header {
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 600;
}
.threads {
  padding: 14px 0;
  >.thread {
    >.hr {
      margin: 14px 0;
      height: 1px;
      background: #d8d8d8;
    }
  }
}
