<!-- Loading -->
<page-loading [isLoading]="isLoading"></page-loading>

<!-- Diff-->
<ng-container *ngIf="!isLoading">
  <diff-header [diff]="diff"></diff-header>
  <diff-files
    [files]="files"
    [diffId]="diff.getId()"
    [diff]="diff"
  ></diff-files>
  <diff-discussion
    [diff]="diff"
  ></diff-discussion>

  <!-- Button to delete the diff -->
  <div class="cr-titlebar">
    <div class="title">
      <span class="bold">Extra actions</span>
    </div>
    <div class="buttons" fxFlex *ngIf="diffCanBeDeleted()">
      <button
        mat-button
        class="cr-light-button grey-button"
        (click)="deleteDiff()"
      >Delete Diff</button>
    </div>
  </div>
</ng-container>
