$palette-blue: #6daeff;
$palette-sky: #86d1ff;
$palette-orange: #ffc75a;
$palette-grey: #d1d1d1;
$palette-ivory: #ebebeb;
$palette-red: #fc7273;

.blue-button {
  background: $palette-blue;
  &[disabled] {
    background: $palette-grey;
  }
}

.sky-button {
  background: $palette-sky;
  &[disabled] {
    background: $palette-grey;
  }
}


.orange-button {
  background: $palette-orange;
  &[disabled] {
    background: $palette-grey;
  }
}

.grey-button {
  background: $palette-grey;
}

.ivory-button {
  background: $palette-ivory;
}

.red-button {
  background: $palette-red;
  margin-left: 15px;
  min-width: 163px;
}

.cr-dialog-button {
  width: auto;
  min-width: 136px;
  color: #232323;
}
