<div 
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayout.xs="column"
  fxLayoutGap.xs="10px"
  class="reviewers">
  <div fxFlex="150px" fxFlex.xs="" 
    fxLayoutAlign="start center" 
    class="property">
    {{ property | titlecase }}
  </div>
  <div fxFlex class="detail">
    
    <ng-container>
      <div
        class="reviewer-detail"
        *ngIf="!showEditableProperty"
        fxLayoutAlign="start center">
        <!-- Print out list if length is more than zero -->
        <span
          *ngFor="let person of persons; 
          let last = last"
          [ngClass]="{ 
            'bold-text': 
             diff.getNeedAttentionOfList().includes(person),
            'reviewer-name': true
            }"
          >
          <button mat-raised-button 
            class="add-to-list"
            *ngIf="editable && enableAddToAttention"
            (click)="saveAttentionList(person);
            $event.stopPropagation()"
            >
            {{ getNeedAttentionText(person) }}
          </button>
          {{ last ? person : person + ',&nbsp;' }}
        </span>
        <!-- If no persons are present -->
        <span *ngIf="persons.length === 0">&nbsp;</span>
        <button
          class="edit-button" 
          mat-icon-button
          (click)="showEditableProperty = true"
          *ngIf="editable"
          >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div 
        class="editableInput"
        *ngIf="showEditableProperty">
        <mat-form-field fxFlex>
          <input matInput placeholder="" 
            [(ngModel)]="propertyValue"
            (keyup.enter)=
            "showEditableProperty = false; 
            savePropertyValue()"
            >
        </mat-form-field>
        <div
          class="actions"
          fxLayoutAlign="end center"
          fxLayoutGap="10px"
          >
          <span class="input cancel">
            <button 
              mat-icon-button
              color="warn"
              (click)="showEditableProperty = false; 
              getPropertyValue()"
              >
              <mat-icon>close</mat-icon>
            </button>
          </span>
          <span class="input save">
            <button 
              mat-icon-button 
              color="primary"
              (click)="showEditableProperty = false; 
              savePropertyValue()"
              >
              <mat-icon>done</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
