.file-changes {
  background: #f3f3f3;
  .titlebar {
    border-bottom: 1px solid #c1c1c1;
    >.title {
      margin-right: 30px;
      >.diff {
        outline: none;
        cursor: pointer;
        user-select: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .file-header {
    display: flex;
    padding: 10px 0;
    align-items: center;
    >.commit-menu {
      margin-left: 70px;
      display: flex;
    }
    >.filename {
      >span {
        color: #5d5d5d;
      }
    }
  }
  .file-header,
  .code-changes {
    margin: 0 23px;
  }
  .code-changes {
    padding-bottom: 10px;
  }
}
