<!-- Loading -->
<page-loading [isLoading]="isLoading"></page-loading>

<div class="file-changes" *ngIf="!isLoading">
  <!-- Titlebar -->
  <div class="cr-titlebar titlebar">
    <div class="title">
      <a
        class="diff bold"
        routerLink="/diff/{{ diffId }}"
      >Diff {{ diff.getId() }}</a>
      <span>by</span>
      <span
        class="username"
        [ngClass]="{ 'bold': diff.getAuthor().getNeedsAttention() }"
      >{{ getAuthor() }}</span>
    </div>

    <diff-status [diff]="diff" fxFlex></diff-status>

    <div class="file-reviewed" *ngIf="reviewer">
      <mat-checkbox
        color="primary"
        [formControl]="fileReviewedCheckbox"
      >Reviewed</mat-checkbox>
    </div>
  </div>

  <div
    class="header-menu"
    [ngClass]="{ 'header-fixed': isHeaderFixed }"
  >
    <!-- Path -->
    <div class="filename">
      <span>{{ filenameWithRepo }}</span>
    </div>

    <!-- Commit Menu -->
    <div class="commit-menu">
      <commit-menu
        [leftCommitId]="leftFile.getCommitId()"
        [rightCommitId]="rightFile.getCommitId()"
        [commitIdList]="getCommitIdList(filesSortedByCommits)"
        (changeCommitIdEmitter)="changeCommitId($event)"
      ></commit-menu>
    </div>
  </div>
  <div class="header-cover" *ngIf="isHeaderFixed"></div>

  <!-- Code changes -->
  <div class="code-changes">
    <code-changes
      [diff]="diff"
      [branchInfo]="branchInfo"
      [textDiff]="textDiff"
      [threads]="localThreads"
      [leftFile]="leftFile"
      [rightFile]="rightFile"
    ></code-changes>
  </div>
</div>
