<div class="cr-titlebar">
  <div class="title">
    <span class="bold">Files</span>
  </div>
  <div class="buttons" fxFlex>
    <button
      mat-button
      class="cr-light-button sky-button"
      (click)="toggleExpand()"
      [disabled]="isLoading"
    >{{ isExpanded ? 'Collapse' : 'Expand' }}</button>
    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
  </div>
</div>
<div class="files" *ngIf="files.length > 0">
  <div class="cr-header">
    <div class="column column-file">File</div>
    <div class="column column-comments">Comments</div>
    <div class="column column-modified">Modified</div>
    <div class="column column-delta">Delta</div>
    <div class="column column-reviewed" *ngIf="reviewer">Reviewed</div>
  </div>

  <ng-container *ngFor="let changeFile of getChangeFiles()">
    <div
      class="file"
      [ngClass]="{ 'expanded': changeFile.isExpanded }"
      (click)="toggleFileExpand(changeFile)"
    >
      <div class="column-file"><a [routerLink]="changeFile.file.getFilenameWithRepo()">
        {{ changeFile.file.getFilenameWithRepo() }}
      </a></div>
      <div class="column-comments">{{ changeFile.amountOfComments }}</div>
      <div class="column-modified">{{ changeFile.timestamp | time }}</div>
      <div class="column-delta">{{ changeFile.delta }}</div>
      <div class="column-reviewed" *ngIf="reviewer">
        <mat-checkbox
          color="primary"
          [formControl]="changeFile.checkbox"
          (click)="$event.stopPropagation()"
        ></mat-checkbox>
      </div>
    </div>
    <code-changes
      *ngIf="changeFile.isExpanded"
      [diff]="diff"
      [branchInfo]="changeFile.data.branchInfo"
      [textDiff]="changeFile.data.textDiff"
      [threads]="changeFile.data.localThreads"
      [leftFile]="changeFile.data.leftFile"
      [rightFile]="changeFile.data.rightFile"
      [isShared]="true"
      [sections]="changeFile.sections"
      (sectionsEmitter)="saveSections($event, changeFile)"
    ></code-changes>
  </ng-container>
</div>
<div class="cr-table-placeholder" *ngIf="files.length === 0">
  No Files yet
</div>
