@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';

.file-header {
  font-size: 20px;
  margin: 30px;
}
.file-wrapper {
  .line {
    .code-panel {
      .code-line {
        .code-character {
          display: inline-block;
          .minus {
            background-color: rgb(250, 83, 83);
          }
          .plus {
            background-color: rgb(201, 252, 93);
          }
        }
      }
      .add_sign {
        font-size: 20px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        opacity: 0;
      }
      &:hover {
        .add_sign {
          opacity: 0.7;
        }
        background-color: #f7f7f7;
      }

      .comment-wrapper {
        margin: 10px 20px 25px 20px;
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
