@import 'variables';

.single-review {
  background-color: #f3f3f3;

  .review-title {
    font-size: 24px;
    font-weight: 500;
    background-color: #cdecff;
    padding: 5px $pagePadding;
    div {
      font-weight: 400;
    }
    .diffNumber {
      font-weight: 500;
    }
    .review-status {
      margin-left: 30px;

      span {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
      }
      .mat-icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
        margin-right: 10px;
      }
      .underReview {
        .mat-icon {
          color: #baa12d;
        }
      }
    }
    .actions {
      button {
        padding: 0px 24px;
        border: 1px solid #615b5b;
        border-radius: 8px;
        font-family: heebo;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
      .submit button {
        background-color: #86d1ff;
      }
      .reply button {
        background-color: #ffc84b;
      }
    }
  }
  .reviewer-name,
  .author-name {
    font-weight: 500;
    .add-to-list {
      display: none;
      position: absolute;
      margin-top: -35px;
    }
    &:hover {
      .add-to-list {
        display: inline-block;
      }
    }
  }
  .review-details {
    padding: 15px $pagePadding;
    > div {
      margin-bottom: 20px;
      .property {
        font-size: 18px;
        text-transform: capitalize;
      }
      .detail {
        font-size: 16px;
        line-height: 32px;
        background: white;
        border-radius: 5px;
        border: 1px solid #dedbdb;
        padding: 0px 8px;
        .review-description {
          white-space: pre-wrap;
          line-height: normal;
          height: 185.3px;
        }
        .edit-button {
          display: none;
          background-color: #f9f6f6;
          width: 30px;
          height: 30px;
          line-height: 28px;
          .material-icons {
            font-size: 20px;
          }
        }
        &:hover {
          .edit-button {
            display: block;
          }
        }
      }
      .timestamp {
        font-weight: 500;
      }
      .link {
        cursor: pointer;
        color: #0000ee;
        text-decoration: underline;
      }
    }
  }
  .thread {
    background: white;
    .comment-file {
      padding: 10px $pagePadding;
      border-bottom: 1px solid $borderColor;
      font-weight: 500;
    }
  }
  .review-sub-title {
    padding: 10px $pagePadding;
  }
  .files-info-container {
    background-color: white;
    font-weight: 500;
    .file-info {
      padding: 10px $pagePadding;
      border-bottom: 1px solid $borderColor;
      a {
        cursor: pointer;
      }
    }
  }

  .expanded-thread {
    background: white;
    padding: 10px $pagePadding;
    border-bottom: 1px solid $borderColor;
    .thread-header {
      font-weight: 500;
    }
    .thread-contents {
      margin-top: 10px;
      background-color: #f8f7f7;
      border-radius: 5px;
    }
  }
}
