@import 'variables';

.single-review {
  background-color: #f3f3f3;

  .review-title {
    font-size: 24px;
    background-color: #cdecff;
    padding: 5px 40px;
    .review-status {
      margin-left: 30px;
    }
  }
  .reviewer-name,
  .author-name {
    .add-to-list {
      display: none;
      position: absolute;
      margin-top: -35px;
    }
    &:hover {
      .add-to-list {
        display: inline-block;
      }
    }
  }
  .review-details {
    padding: 30px;
    > div {
      margin-bottom: 20px;
      .property {
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
      }
      .detail {
        font-size: 16px;
        line-height: 32px;
        background: white;
        border-radius: 5px;
        border: 1px solid #dedbdb;
        padding: 0px 8px;
        .review-description {
          white-space: pre-wrap;
          line-height: normal;
          height: 185.3px;
        }
        .edit-button {
          display: none;
          background-color: #f9f6f6;
          width: 30px;
          height: 30px;
          line-height: 28px;
          .material-icons {
            font-size: 20px;
          }
        }
        &:hover {
          .edit-button {
            display: block;
          }
        }
      }
      .link {
        cursor: pointer;
        color: #0000ee;
        text-decoration: underline;
      }
    }
  }
  .thread {
    border-radius: 3px;
    background: white;
    .thread-header {
      padding: 5px 20px;
      border-bottom: 1px solid $borderColor;
    }
  }
  .review-sub-title {
    font-weight: bold;
    padding: 5px 25px;
  }
  .files-info-container {
    background-color: white;
    .file-info {
      border-bottom: 1px solid $borderColor;
      padding: 5px 10px;
    }
  }
  .bold-text {
    font-weight: bold;
  }
}
