@import 'variables';

.single-review {
  mat-card-title div:first-child {
    width: 350px;
  }
  .crw-header {
    font-size: 24px;
  }
  .review-details {
    padding: 30px;
    > div {
      margin-bottom: 20px;
      .property {
        font-size: 18px;
        font-weight: bold;
      }
      .detail {
        font-size: 16px;
        line-height: 32px;
        .mat-icon-button {
          display: none;
          margin-left: 100px;
          background-color: #f9f6f6;
          width: 30px;
          height: 30px;
          line-height: 28px;
          .material-icons {
            font-size: 20px;
          }
        }
        &:hover {
          .mat-icon-button {
            display: block;
          }
        }
      }
      .editableInput,
      .reviewer-detail {
        width: 600px;
      }
      .editableInput {
        mat-form-field {
          width: 400px;
        }
      }
      .link {
        cursor: pointer;
        color: #0000ee;
        text-decoration: underline;
      }
    }
    .reviewer-name,
    .cc-name {
      .add-to-list {
        display: none;
        position: absolute;
        margin-top: -35px;
      }
      &:hover {
        .add-to-list {
          display: block;
        }
      }
    }
    .thread {
      border: 1px solid $borderColor;
      border-radius: 3px;
      .thread-header {
        padding: 5px 20px;
        border-bottom: 1px solid $borderColor;
        background: azure;
        .line-number-label {
          font-size: 14px;
        }
      }
      .thread-contents {
        margin: 10px;
      }
      .comment {
        margin-bottom: 20px;
      }
    }
  }
  .bold-text {
    font-weight: bold;
  }
}
