<div class="single-review" *ngIf="!isLoading">
  
  <!-- Title bar -->
  <review-titlebar 
    [diff]="diff"
    [editable]="isEditable"
  ></review-titlebar>

  <!-- Details of the review -->
  <div class="review-details">
    
    <div fxLayout="row" fxLayoutGap="10%">
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="45%">
  
        <!-- Person List based on Reviewer in the Diff -->
        <div>
          <app-person-list 
            [diff]="diff"
            [isNeedAttention]="true"
            [enableAddToAttention]="true"
            [editable]="isEditable"
          ></app-person-list>
        </div>
  
        <!-- Person List based on CC in the Diff -->
        <div>
          <app-person-list 
            [diff]="diff"
            [isNeedAttention]="false"
            [editable]="isEditable"
            [enableAddToAttention]="false"
          ></app-person-list>
        </div>
  
        <!-- Bug property of Diff that is a link to related Github Issue -->
        <div>
          <app-editable-property
          [diff]="diff"
          [property]="'bug'"
          [editable]="isEditable"
          ></app-editable-property>
        </div>
  
        <!-- Created At timestamp -->
        <div fxLayout="row" 
          fxLayout.xs="column" 
          fxLayoutGap.xs="10px">
          <div fxFlex="150px" fxFlex.xs=""
            fxFlexAlign="center" 
            class="property">
            Created:
          </div>
          <div fxFlex class="timestamp">
            {{ diff.getCreatedTimestamp() | date:'medium' }}
          </div>
        </div>
  
        <!-- Modified timestamp -->
        <div fxLayout="row" 
          fxLayout.xs="column" 
          fxLayoutGap.xs="10px">
          <div fxFlex="150px" fxFlex.xs="" 
            fxFlexAlign="center"
            class="property">
            Modified:
          </div>
          <div fxFlex 
            class="timestamp">
            {{ diff.getModifiedTimestamp() | date:'medium' }}
          </div>
        </div>

        
      </div>

      <div fxFlex="45%">
        <!-- Review Description -->
        <div>
          <app-editable-property
            [diff]="diff"
            [property]="'description'"
            [editable]="isEditable"
          ></app-editable-property>
        </div>
      </div>

    </div>
  </div>

  <!-- Files -->
  <review-files [fileList]="fileList" [diffId]="diff.getId()"></review-files>

  <!-- Review Comments -->
  <review-discussion [diff]="diff"></review-discussion>
  
</div>
