<div class="header-content cr-header">
  <!--
    Block with main information of the diff
    Reviewers, CC list, workspace, created time, etc.
  -->
  <div class="info" fxFlex="50%">
    <table>
      <!-- Reviewer List -->
      <tr>
        <td>Reviewers</td>
        <td>
          <user-popup
            *ngFor="let reviewer of diff.getReviewerList()"
            [email]="reviewer.getEmail()"
            [isAttentionRequired]="reviewer.getNeedsAttention()"
            [isChangeAttention]="true"
            (changeAttentionEmitter)="changeAttention($event)"
            [isRemoveFromList]="true"
            (removeFromListEmitter)="removeFromReviewerList($event)"
          ><span [ngClass]="{'bold': reviewer.getNeedsAttention()}">
            {{ authService.getUsername(reviewer.getEmail()) }}
          </span></user-popup>
        </td>
        <td>
          <button mat-icon-button color="warn" (click)="addReviewer()">
            <mat-icon>add_box</mat-icon>
          </button>
        </td>
      </tr>

      <!-- CC List -->
      <tr>
        <td>CC</td>
        <td>
          <user-popup
            *ngFor="let email of diff.getCcList()"
            [email]="email"
            [isRemoveFromList]="true"
            (removeFromListEmitter)="removeFromCcList($event)"
          ><span>{{ authService.getUsername(email) }}</span></user-popup>
        </td>
        <td>
          <button mat-icon-button color="warn" (click)="addCC()">
            <mat-icon>add_box</mat-icon>
          </button>
        </td>
      </tr>

      <!-- Text info -->
      <tr>
        <td>Bug</td>
        <td>{{ diff.getBug() }}</td>
      </tr>
      <tr>
        <td>Workspace</td>
        <td>{{ diff.getWorkspace() }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ diff.getCreatedTimestamp() | time }}</td>
      </tr>
      <tr>
        <td>Modified</td>
        <td>{{ diff.getModifiedTimestamp() | time }}</td>
      </tr>
    </table>
  </div>

  <!-- Description of the diff -->
  <div class="description">
    <div class="titlebar">
      <div class="title">Description</div>
      <div class="edit-button">
        <!-- Buttons to start editing  -->
        <button
          class="cr-light-button"
          *ngIf="!isDescriptionEditMode"
          mat-button
          (click)="startDescriptionEditMode()"
        >Edit</button>
      </div>
    </div>

    <!-- Description readonly/textarea -->
    <div class="description-text" *ngIf="!isDescriptionEditMode">
      <pre class="description-value" [HTML]="description"></pre>
    </div>
    <div class="description-textarea" *ngIf="isDescriptionEditMode">
      <textarea
        class="description-text description-value"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="5"
        placeholder="Leave a comment"
        [(ngModel)]="description"
      ></textarea>
    </div>

    <div class="buttons" *ngIf="isDescriptionEditMode">
      <!-- Buttons to stop editing -->
      <button
        class="cr-light-button"
        mat-raised-button
        color="primary"
        (click)="saveDescription()"
      >Save</button>
      <button
        class="cr-light-button"
        mat-button
        (click)="stopDescriptionEditMode()"
      >Cancel</button>
    </div>
  </div>
</div>
