.header-content {
  display: flex;
  padding: 15px 24px;
  >.info {
    padding-right: 20px;
    tr {
      height: 30px;
      td:first-child {
        color: rgba(0,0,0,0.54);
        width: 120px;
      }
      td:nth-child(3) {
        >.mat-icon-button {
          float: left;
        }
      }
    }
    user-popup {
      margin-right: 5px;
    }
  }
  >.description {
    width: 100%;
    textarea {
      resize: none;
      width: calc(100% - 14px);
      padding: 10px 7px 0 7px;
      border-radius: 4px;
      background: white;
      font-size: 14px;
    }
  }
}
