build --proto_compiler //external:proto_compiler \
      --proto_toolchain_for_java //external:proto_java_toolchain
run --direct_run
test --test_output=errors

# C++ debugging tools

# AddressSanitizer: https://clang.llvm.org/docs/AddressSanitizer.html
# Note that LeakSanitizer is bundled as part of ASan. You may want to use
# --config=lsan to find leaks without the rest of AddressSanitizer.
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address
build:asan --copt=-DSTARTUPOS_ADDRESS_SANITIZER
build:asan --copt=-DSTARTUPOS_LEAK_SANITIZER

# LeakSanitizer: https://clang.llvm.org/docs/LeakSanitizer.html
build:lsan --copt=-fsanitize=leak
build:lsan --linkopt=-fsanitize=leak
build:lsan --copt=-DSTARTUPOS_LEAK_SANITIZER

# MemorySanitizer: https://clang.llvm.org/docs/MemorySanitizer.html
build:msan --copt=-fsanitize=memory
build:msan --linkopt=-fsanitize=memory
build:msan --copt=-DSTARTUPOS_MEMORY_SANITIZER

# ThreadSanitizer: https://clang.llvm.org/docs/ThreadSanitizer.html
build:tsan --copt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread
build:tsan --copt=-DSTARTUPOS_THREAD_SANITIZER

# UndefinedBehaviorSanitizer:
# https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined
build:ubsan --copt=-DSTARTUPOS_UNDEFINED_BEHAVIOR_SANITIZER

# libFuzzer coverage-guided fuzz testing.
# Fuzzer targets will fail to link without this configuration, while non-fuzzer
# targets will fail to link with this configuration.
#
# Combine these with sanitizers such as both ASan and UBSan to find more bugs.
build:fuzzer --copt=-fsanitize=fuzzer
build:fuzzer --linkopt=-fsanitize=fuzzer
build:fuzzer --copt=-DSTARTUPOS_FUZZING_MODE
