<div class="cr-titlebar">
  <div class="title">
    <span class="bold">Files</span>
  </div>
  <div class="buttons" fxFlex>
    <button
      class="cr-light-button"
      mat-raised-button
      color="primary"
    >Expand</button>
  </div>
</div>
<div class="cr-header">
  <mat-table [dataSource]="files">
      <ng-container matColumnDef="filename">
        <mat-header-cell *matHeaderCellDef> File </mat-header-cell>
        <mat-cell *matCellDef="let file">
          {{ file.getFilenameWithRepo() }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comments">
        <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
        <mat-cell *matCellDef="let file"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="modified">
        <mat-header-cell *matHeaderCellDef> Modified </mat-header-cell>
        <mat-cell *matCellDef="let file"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="delta">
        <mat-header-cell *matHeaderCellDef> Delta </mat-header-cell>
        <mat-cell *matCellDef="let file"></mat-cell>
      </ng-container>

      <mat-header-row
        class="cr-header"
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        *matRowDef="let file; columns: displayedColumns;"
        (click)="openFile(file)"
      ></mat-row>
    </mat-table>
</div>
