<button
 mat-button
 class="cr-light-button sky-button"
 (click)="show()"
>select</button>
<button
 mat-button
 class="cr-light-button grey-button"
 (click)="home()"
 *ngIf="selectDashboardService.selectedEmail !== userService.email"
>home</button>
<ng-container *ngIf="isVisible">
  <div class="dashboards">
    <div class="user" *ngFor="let email of selectDashboardService.uniqueUsers">
      <button mat-button (click)="openDashboard(email)">
        {{ userService.getUsername(email) }}
      </button>
    </div>
  </div>
  <div class="popup-overlay" (click)="hide()"></div>
</ng-container>
