:host {
  position: relative;
  .dashboards {
    position: absolute;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    z-index: 2;
    >.user {
      >.mat-button {
        width: 100%;
      }
    }
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
