<div
  class="menu-popup-overlay"
  *ngIf="isMenuVisible"
  (click)="toggle()"
></div>
<div class="menu">
  <mat-icon (click)="toggle()">more_horiz</mat-icon>
  <div class="popup" *ngIf="isMenuVisible">
    <speech-arrow
      [size]=15
      [border]=2
      color="white"
      bordercolor="#8c8c8c"
      [shadow]=[2,2,2,0.8]
    ></speech-arrow>
    <div class="options">
      <div class="option" (click)="edit()">Edit</div>
      <div class="option" (click)="delete()">Delete</div>
    </div>
  </div>
</div>
