.left-file {
  background: #ffeef0;
}
.right-file {
  background: #e6ffed;
}
.placeholder {
  background: #ebebeb;
}
.comments {
  background: #ebebeb;
}
.common-line {
  background: white;
}
pre {
  margin: 0;
}
