@import 'basic-styles.scss';

$font-size: 15px;
$border-width: 2px;
$border: $border-width solid #979797;

.expand-button {
  display: flex;
  align-items: center;
  height: 30px;
  background: #ebebeb;
  border-bottom: 1px solid #d8d8d8;
  button {
    margin: 0 10px;
    user-select: none;
  }
}
table {
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
  tr {
    >.line-number {
      min-width: 8px;
      background: #ebebeb;
      border-left: $border;
      border-right: $border;
      font-size: 12px;
      user-select: none;
      padding: 0 3px;
      >span {
        font-family: monospace;
        float: right;
        opacity: 0.7;
      }
    }
    >.content {
      $add-comment-button-width: 24px;
      min-width: 650px;
      position: relative;
      >.add-comment-button {
        position: absolute;
        user-select: none;
        top: -2px;
        left: 2px;
        cursor: pointer;
        display: none;
        >img {
          width: $font-size;
          height: $font-size;
        }
      }
      >.chars-highlighting {
        position: absolute;
        left: $add-comment-button-width;
        user-select: none;
        pre {
          color: rgba(0,0,0,0);
        }
      }
      >.code {
        position: relative;
        min-height: $font-size;
        margin-left: $add-comment-button-width;
        padding-right: 10px;
        user-select: none;
      }
      .code-line {
        padding-top: 1px;
      }
      >.selectable {
        user-select: text;
      }
      >.threads {
        padding-top: 13px;
        >.thread {
          width: 762px;
          margin-bottom: 17px;
        }
      }
      &:hover {
        >.add-comment-button {
          display: block;
        }
      }
    }
  }
}
.overflow {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
