@import '../index';

:host {
  position: relative;
  .user-popup {
    position: absolute;
    z-index: 2;
    >.email-input {
      margin-bottom: 18px;
      input {
        width: 300px;
        height: 30px;
        padding: 0 8px;
        border-radius: 8px;
        outline: none;
        border: 1px solid #8d8d8d;
      }
    }
    >.buttons {
      display: flex;
      >.blue-button {
        margin-left: 10px;
      }
    }
    >.error-message {
      margin-top: 12px;
      color: red;
      font-size: 15px;
      opacity: 0.85;
    }
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
