<div class="open-button" (click)="open()">
  <ng-content></ng-content>
</div>
<div class="frame" *ngIf="isVisible">
  <div class="user-popup">
    <speech-arrow
      [size]=15
      [border]=2
      color="white"
      bordercolor="#8c8c8c"
      [shadow]=[2,2,2,0.8]
    ></speech-arrow>
    
    <div class="email-input">
      <input placeholder="URL to Github issue" [focus]="isVisible" [(ngModel)]="email">
    </div>
    <div class="buttons">
      <button
        mat-button
        class="cr-light-button grey-button"
        (click)="close()"
      >Cancel</button>
      <button
        mat-button
        class="cr-light-button blue-button"
        (click)="add()"
      >Add</button>
    </div>
  </div>
  <div class="popup-overlay" (click)="close()"></div>
</div>
