<!-- This component is used to display description and bug with 
a little change in html template -->
<div 
fxLayout="row"
fxLayoutAlign="start center"
fxLayout.xs="column"
fxLayoutGap.xs="10px"
class="bug">
<div fxFlex="150px" fxFlex.xs="" 
  fxLayoutAlign="start center" 
  class="property">
  {{ property }}:
</div>
<div fxFlex class="detail">
  <ng-container>
    <div
      class="issue-detail"
      *ngIf="!showEditableProperty"
      fxLayoutAlign="start center">
      <!-- Display a span if the property 
        being displayed is Diff Description -->
      <span *ngIf="property === 'description'"> {{ propertyValue }}</span>
      <!-- Display inside a clickable `<a>` element if the property
        being displayed is bug property of Diff -->
      <a *ngIf="property === 'bug'" class="link" href="{{ propertyValue }}">
        {{ propertyValue.length ? propertyValue : '&nbsp;' }}
      </a>
      <button 
        mat-icon-button
        (click)="showEditableProperty = true"
        *ngIf="editable"
        >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="editableInput" 
      *ngIf="showEditableProperty">
      <mat-form-field>
        <input matInput placeholder="" 
          [(ngModel)]="propertyValue"
          (keyup.enter)=
          "showEditableProperty = false; savePropertyValue()"
          >
      </mat-form-field>
      <div
        class="actions"
        fxFlex
        fxLayoutAlign="end center"
        fxLayoutGap="10px"
        >
        <span class="input cancel">
          <button 
            mat-raised-button 
            (click)="showEditableProperty = false; 
            getPropertyValue()"
            >
            Cancel
          </button>
        </span>
        <span class="input save">
          <button 
            mat-raised-button 
            color="primary"
            (click)="showEditableProperty = false; 
            savePropertyValue()"
            >
            Save
          </button>
        </span>
      </div>
    </div>
  </ng-container>
</div>
</div>
