<div class="cr-panel header-content">
  <!--
    This is a block with main information of the diff
    Reviewers, CC list, workspace, created time, etc.
  -->
  <div class="info" fxFlex="50%">
    <table>
      <!-- Reviewer List -->
      <tr>
        <td>Reviewers</td>
        <td>
          <div>
            <user-popup
              *ngFor="let reviewer of diff.getReviewerList()"
              [email]="reviewer.getEmail()"
              [isAttentionRequired]="reviewer.getNeedsAttention()"
              [isChangeAttention]="true"
              (changeAttentionEmitter)="changeAttention($event)"
              [isRemoveFromList]="true"
              (removeFromListEmitter)="removeFromReviewerList($event)"
            ><span [ngClass]="{
              'bold': reviewer.getNeedsAttention(),
              'approved': reviewer.getApproved()
            }">
              {{ userService.getUsername(reviewer.getEmail()) }}
            </span></user-popup>

            <!-- Add Reviewer button -->
            <add-user-popup
              class="add-button"
              placeholder="Email"
              validCheck="true"
              (returnEmailEmitter)="addReviewer($event)"
            ><img
              src="/assets/ic-add-person.svg"
              draggable="false"
            ></add-user-popup>
          </div>
        </td>
      </tr>

      <!-- CC List -->
      <tr>
        <td>CC</td>
        <td>
          <div>
            <user-popup
              *ngFor="let email of diff.getCcList()"
              [email]="email"
              [isRemoveFromList]="true"
              (removeFromListEmitter)="removeFromCcList($event)"
            ><span>{{ userService.getUsername(email) }}</span></user-popup>

            <!-- Add CC button -->
            <add-user-popup
              class="add-button"
              placeholder="Email"
              validCheck="true"
              (returnEmailEmitter)="addCC($event)"
            ><img
              src="/assets/ic-add-person.svg"
              draggable="false"
            ></add-user-popup>
          </div>
        </td>
      </tr>

      <!-- Issue List -->
      <tr>
        <td>Issues</td>
        <td>
          <div>
            <user-popup
              *ngFor="let issue of diff.getIssueList()"
              [email]="issue"
              [isRemoveFromList]="true"
              (removeFromListEmitter)="removeIssue($event)"
            ><a [href]="issue">{{ getIssueNumber(issue) }}</a></user-popup>
            
            <!-- Add Issue button -->
            <add-user-popup
              class="add-button"
              placeholder="URL to Github issue"
              (returnEmailEmitter)="addIssue($event)"
            ><img
              src="/assets/ic-add-issue.svg"
              draggable="false"
            ></add-user-popup>
          </div>
        </td>
      </tr>

      <!-- Issues and Date -->
      <tr>
        <td>Workspace</td>
        <td>{{ diff.getWorkspace() }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ diff.getCreatedTimestamp() | time:'fullDate' }}</td>
      </tr>
      <tr>
        <td>Modified</td>
        <td>{{ diff.getModifiedTimestamp() | time:'fullDate' }}</td>
      </tr>
      <tr>
        <td>CI</td>
        <td
          class="ci-status"
          [style.color]="status.color"
        >{{ status.message }}</td>
      </tr>
    </table>
  </div>

  <!-- Description of the diff -->
  <div class="description">
    <!-- Description readonly/textarea -->
    <div
      class="read-mode"
      *ngIf="!isDescriptionEditMode"
      (click)="startDescriptionEditMode()"
    >
      <pre
        [ngClass]="{
          'description-text': true,
          'empty': !description
        }"
        [HTML]="getParsedDescription()"
      ></pre>
    </div>
    <div class="edit-mode" *ngIf="isDescriptionEditMode">
      <textarea
        class="description-text"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="7"
        placeholder="Description..."
        [(ngModel)]="description"
        [focus]="isDescriptionEditMode"
      ></textarea>
    </div>
    <div class="buttons" *ngIf="isDescriptionEditMode">
      <!-- Buttons to stop editing -->
      <button
        mat-button
        class="cr-light-button blue-button"
        (click)="saveDescription()"
      >Save</button>
      <button
        mat-button
        class="cr-light-button grey-button"
        (click)="stopDescriptionEditMode()"
      >Cancel</button>
    </div>
  </div>
</div>
