<div class="header-content cr-header">
  <!--
    Block with main information of the diff
    Reviewers, CC list, workspace, created time, etc.
  -->
  <div class="info" fxFlex="50%">
    <table>
      <!-- Reviewer List -->
      <tr
        (mouseover)="isReviewersHovered = true"
        (mouseleave)="isReviewersHovered = false"
      >
        <td>Reviewers</td>
        <td>
          <user-popup
            *ngFor="let reviewer of diff.getReviewerList()"
            [email]="reviewer.getEmail()"
            [isAttentionRequired]="reviewer.getNeedsAttention()"
            [isChangeAttention]="true"
            (changeAttentionEmitter)="changeAttention($event)"
            [isRemoveFromList]="true"
            (removeFromListEmitter)="removeFromReviewerList($event)"
          ><span [ngClass]="{'bold': reviewer.getNeedsAttention()}">
            {{ authService.getUsername(reviewer.getEmail()) }}
          </span></user-popup>
        </td>
        <td class="add-button">
          <img
            src="/assets/ic-add-person.svg"
            (click)="addReviewer()"
            *ngIf="isReviewersHovered"
            draggable="false"
          >
        </td>
      </tr>

      <!-- CC List -->
      <tr
        (mouseover)="isCCHovered = true"
        (mouseleave)="isCCHovered = false"
      >
        <td>CC</td>
        <td>
          <user-popup
            *ngFor="let email of diff.getCcList()"
            [email]="email"
            [isRemoveFromList]="true"
            (removeFromListEmitter)="removeFromCcList($event)"
          ><span>{{ authService.getUsername(email) }}</span></user-popup>
        </td>
        <td class="add-button">
          <img
            src="/assets/ic-add-person.svg"
            (click)="addCC()"
            *ngIf="isCCHovered"
            draggable="false"
          >
        </td>
      </tr>

      <!-- Text info -->
      <tr>
        <td>Bug</td>
        <td>{{ diff.getBug() }}</td>
      </tr>
      <tr>
        <td>Workspace</td>
        <td>{{ diff.getWorkspace() }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ diff.getCreatedTimestamp() | time:'fullDate' }}</td>
      </tr>
      <tr>
        <td>Modified</td>
        <td>{{ diff.getModifiedTimestamp() | time:'fullDate' }}</td>
      </tr>
    </table>
  </div>

  <!-- Description of the diff -->
  <div class="description">
    <!-- Description readonly/textarea -->
    <div
      class="read-mode"
      *ngIf="!isDescriptionEditMode"
      (click)="startDescriptionEditMode()"
    >
      <textarea
        class="description-text description-value"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="1"
        placeholder="Description..."
      ></textarea>
    </div>
    <div class="edit-mode" *ngIf="isDescriptionEditMode">
      <textarea
        class="description-text description-value"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="7"
        placeholder="Leave a comment"
        [(ngModel)]="description"
      ></textarea>
    </div>

    <div class="buttons" *ngIf="isDescriptionEditMode">
      <!-- Buttons to stop editing -->
      <button
        mat-button
        class="cr-light-button blue-button"
        (click)="saveDescription()"
      >Save</button>
      <button
        mat-button
        class="cr-light-button grey-button"
        (click)="stopDescriptionEditMode()"
      >Cancel</button>
    </div>
  </div>
</div>
