.files {
  $file-border: 2px solid #6b6b6b;
  >.file {
    padding: 12px 23px;
    display: flex;
    background: #ecf8ff;
    border-top: $file-border;
    border-left: $file-border;
    border-right: $file-border;
    >a {
      text-decoration: none;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  >.bottom-border,
  >.file:last-child {
    border-bottom: $file-border;
  }
  .column-file { width: 50%; }
  .column-comments,
  .column-modified,
  .column-delta { width: 16%; }
}
