.files {
  >.file {
    padding: 12px 23px;
    display: flex;
    background: #ecf8ff;
    border-top: 1px solid #808080;
    a {
      text-decoration: none;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  >.file:last-child {
    border-bottom: 1px solid #808080;
  }
  >.expanded {
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
  }
  .column-file { width: 60%; }
  .column-comments,
  .column-modified,
  .column-delta,
  .column-reviewed { width: 10%; }
}
