$line-thread-background: #f1f8ff;
$diff-thread-background: #fffcf1;

mat-table {
  .mat-cell {
    padding: 15px 0;
    >.thread-title {
      margin-bottom: 15px;
    }
    >.comment {
      max-width: 600px;
      padding: 10px;
      border: 1px solid rgba(0,0,0,.3);
      margin-bottom: 10px;
      >.message {
        margin-bottom: 10px;
      }
    }
    >.diff-thread-buttons {
      .cr-light-button {
        background: $diff-thread-background;
      }
    }
  }
}

.code-thread {
  cursor: pointer;
  background: $line-thread-background;
}
.diff-thread {
  background: $diff-thread-background;
}
