<!-- Title -->
<div class="cr-titlebar">
  <div class="title">
    <span class="bold">Discussion</span>
  </div>
  <div class="buttons" fxFlex>
    <button
      class="cr-light-button"
      mat-raised-button
      color="primary"
    >Expand</button>
  </div>
</div>
<div class="cr-header">
  <!-- Diff threads -->
  <diff-threads
    [threads]="diff.getDiffThreadList()"
    [diff]="diff"
  ></diff-threads>
  
  <!-- Code threads -->
  <code-threads
    [threads]="diff.getCodeThreadList()"
    [diff]="diff"
  ></code-threads>
</div>
