<!-- Title -->
<div class="cr-titlebar">
  <div class="title">
    <span class="bold">Discussion</span>
  </div>
  <div class="buttons" fxFlex>
    <button
      class="cr-light-button"
      mat-raised-button
      color="primary"
    >Expand</button>
  </div>
</div>
<div class="cr-header">
  <mat-table [dataSource]="threads">
    <ng-container matColumnDef="discussions">
      <mat-header-cell *matHeaderCellDef>
        General discussions
        ({{ threads.length }} threads,
        {{ getUnresolvedThreads() }} unresolved)
      </mat-header-cell>
      <mat-cell *matCellDef="let thread; let threadIndex = index;">
        <!-- Thread -->

        <!-- Filename and amount of comments (line thread only) -->
        <div class="thread-title" *ngIf="!thread.getIsDiffThread()">
          {{ thread.getFile().getFilenameWithRepo() }}
          ({{ thread.getCommentList().length }} comments)
        </div>

        <!-- Comments -->
        <div
          [ngClass]="[
            'comment',
            getThreadBackground(thread)
          ]"
          *ngFor="let comment of thread.getCommentList()"
          (click)="openFile(thread)"
        >
          <div class="message">{{ comment.getContent() }}</div>
          <div class="username">
            by <span class="bold">{{ getUsername(comment) }}</span>
            on {{ comment.getTimestamp() | time }} 
          </div>
        </div>

        <!-- Line number (line thread only) -->
        <div class="line-number" *ngIf="!thread.getIsDiffThread()">
          Line number: {{ thread.getLineNumber() }}
        </div>

        <!-- Thread buttons (diff thread only) -->
        <div class="diff-thread-buttons" *ngIf="thread.getIsDiffThread()">
          <button
            class="cr-light-button"
            mat-raised-button
            (click)="toggleThread(thread)"
          >{{
            thread.getIsDone() ? 'Unresolve' : 'Resolve'
          }}</button>
          <button
            class="cr-light-button"
            mat-raised-button
            (click)="deleteThread(threadIndex)"
          >Delete</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="cr-header"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      *matRowDef="let thread; columns: displayedColumns;"
    ></mat-row>
  </mat-table>
</div>
