<!-- Title -->
<div class="cr-titlebar">
  <div class="title">
    <span class="bold">Discussion</span>
  </div>
  <div class="buttons" fxFlex>
    <button
      mat-button
      class="cr-light-button sky-button"
      [disabled]="!isThreadExist()"
      (click)="toggleComments()"
    >{{ isExpanded ? 'Collapse' : 'Expand' }}</button>
  </div>
</div>
<div *ngIf="isThreadExist()">
  <!-- Diff threads -->
  <diff-threads
    [threads]="diff.getDiffThreadList()"
    [diff]="diff"
    (expandEmitter)="commentExpanded()"
  ></diff-threads>
  
  <!-- Code threads -->
  <code-threads
    [threads]="diff.getCodeThreadList()"
    [diff]="diff"
    (expandEmitter)="commentExpanded()"
  ></code-threads>
</div>
<div class="cr-table-placeholder" *ngIf="!isThreadExist()">
  No Discussion yet
</div>
