# See http://help.github.com/ignore-files/ for more about ignoring files.

/node_modules
/dist
/src/app/core/proto

# extra
chrome-profiler-events.json
speed-measure-plugin.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
/tmp
/out-tsc
.firebase
