<!-- Loading -->
<page-loading [isLoading]="fileChangesService.isLoading"></page-loading>

<!-- Header -->
<div class="file-header" *ngIf="!fileChangesService.isLoading">
  <div><a routerLink="/diff/{{ fileChangesService.diff.getId() }}">
    Back
  </a></div>
  <div><span>{{ fileChangesService.file.getFilename() }}</span></div>
</div>

<!-- Code changes -->
<div class="code-changes" *ngIf="!fileChangesService.isLoading">
  <code-changes
    [textDiff]="fileChangesService.textDiff"
    [language]="language"
    [threads]="fileChangesService.localThreads"
  ></code-changes>
</div>
